* {
    box-sizing: border-box;
    margin: 0px;
}

.d1 {
    background-color: #1F2937;
    height: 235px;
}

.d2 {
    background-color: white;
    height: 220px;
}

.d3 {
    background-color: #E5E7EB;
    height: 190px;
}

.d4 {
    background-color: white;
    height: 160px;
}

body {
    font-family: 'Roboto', sans-serif;
}

footer {
    background-color: #1F2937;
    padding: 10px;
    text-align: center;
    color: white;
}
