* {
    box-sizing: border-box;

    margin: 0px;
}

.d1 {
    background-color: #1F2937;
    height: 235px;
}

.d2 {
    background-color: white;
    height: 220px;
}

.d3 {
    background-color: #E5E7EB;
    height: 190px;
}

.d4 {
    background-color: white;
    height: 160px;
}

.rounded-corners {
    border-radius: 5px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.rounded-corners-image {
    border-radius: 10px;
    border: 2px solid #3882F6;
    width: 100px;
    height: 100px;
}

body {
    font-family: 'Roboto', sans-serif;
}

footer {
    background-color: #1F2937;
    padding: 10px;
    text-align: center;
    color: white;
}
